{% extends "base.html" %}

<head id="{}" />
{% block head %}
{{ super() }}
<title>Admin Panel</title>

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
  integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
  crossorigin="" />
<!-- Make sure you put this AFTER Leaflet's CSS -->
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
  integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
  crossorigin=""></script>

<style>
  .customCursor {
    cursor: url(m.png) 12.5 45, pointer;
  }
</style>
{% endblock %}

{% block container %}




<div class="row">
  <div class="col-12">
    <div id="accordion">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Camera
            </button>
          </h5>
        </div>
    
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
            <div class="row">

              <div class="col-sm-4">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Camera Stream</h5>
                    <p class="card-text">View and edit Camera Stream.</p>
                    <a class="btn btn-primary" href="{{ url_for('camera_stream') }}" target="_self" rel="noopener noreferrer">Camera Stream Dashboard</a>
                  </div>
                </div>
              </div>

              <div class="col-sm-4">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Camera Groups</h5>
                    <p class="card-text">View and edit camera groups.</p>
                    <a class="btn btn-primary" href="{{ url_for('camera_group') }}" target="_self" rel="noopener noreferrer">Camera Group Dashboard</a>
                  </div>
                </div>
              </div>

              <div class="col-sm-4">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Camera Areas</h5>
                    <p class="card-text">View and edit camera areas.</p>
                    <a class="btn btn-primary" href="{{ url_for('camera_area') }}" target="_self" rel="noopener noreferrer">Camera Area Dashboard</a>
                  </div>
                </div>
              </div>


            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingTwo">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Demo
            </button>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
          <div class="card-body">
            <div class="row">

              <div class="col-sm-4">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Video</h5>
                    <p class="card-text">View and edit Videos.</p>
                    <a class="btn btn-primary" href="{{ url_for('video') }}" target="_self" rel="noopener noreferrer">Video Dashboard</a>
                  </div>
                </div>
              </div>

              <!-- <div class="col-sm-4">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Demo Groups</h5>
                    <p class="card-text">View and edit demo groups.</p>
                    <a class="btn btn-primary" href="{{ url_for('demo_group') }}" target="_self" rel="noopener noreferrer">Demo Group Dashboard</a>
                  </div>
                </div>
              </div> -->


            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingThree">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              People
            </button>
          </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
          <div class="card-body">
            <div class="row">

              <div class="col-sm-4">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Users</h5>
                    <p class="card-text">View and edit users.</p>
                    <a class="btn btn-primary" href="{{ url_for('user') }}" target="_self" rel="noopener noreferrer">User Dashboard</a>
                  </div>
                </div>
              </div>

              <div class="col-sm-4">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Contact</h5>
                    <p class="card-text">View and edit contact.</p>
                    <a class="btn btn-primary" href="{{ url_for('customer') }}" target="_self" rel="noopener noreferrer">Contact Dashboard</a>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Features</h5>
        <p class="card-text">View and edit features.</p>
        
        <a class="btn btn-primary" href="{{ url_for('feature') }}" target="_self" rel="noopener noreferrer">Feature Dashboard</a>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Server Type</h5>
        <p class="card-text">View and edit server types.</p>
        <a class="btn btn-primary" href="{{ url_for('server_type') }}" target="_self" rel="noopener noreferrer">Server Type Dashboard</a>
      </div>
    </div>
  </div>


  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Server</h5>
        <p class="card-text">View and edit servers.</p>
        <a class="btn btn-primary" href="{{ url_for('server') }}" target="_self" rel="noopener noreferrer">Server Dashboard</a>
      </div>
    </div>
  </div>

  <!-- <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Lane</h5>
        <p class="card-text">View and edit lanes.</p>
        <a class="btn btn-primary" href="{{ url_for('lane') }}" target="_self" rel="noopener noreferrer">Lane Dashboard</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Crosswalk</h5>
        <p class="card-text">View and edit crosswalks.</p>
        <a class="btn btn-primary" href="{{ url_for('crosswalk') }}" target="_self" rel="noopener noreferrer">Crosswalk Dashboard</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Vehicle</h5>
        <p class="card-text">View detected vehicles.</p>
        <a class="btn btn-primary" href="{{ url_for('vehicle') }}" target="_self" rel="noopener noreferrer">Vehicle Dashboard</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Pedestrian</h5>
        <p class="card-text">View detected pedestrians.</p>
        <a class="btn btn-primary" href="{{ url_for('pedestrian') }}" target="_self" rel="noopener noreferrer">Pedestrian Dashboard</a>
      </div>
    </div>
  </div> -->
  
</div>
{% endblock %}



{% block script %}
{{ super() }}
<script>
  database_url = '{{ database_url_param }}';
  console.log("Here you go! " + database_url);
</script>
<script src="{{ url_for('static', filename='/js/template/admin.js') }}"></script>
{% endblock %}