{% extends "base.html" %}

{% block head %}
{{ super() }}
<title>Analytcs</title>
{% endblock %}

{% block container %}
<div class="container-fluid">
  
  {% include 'filtertime.html' %}

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          Vehicle Count: <span id='resultCount'></span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Time</th>
            <th scope="col">Vehicle ID</th>
            <th scope="col">Vehicle Class</th>
          </tr>
        </thead>
        <tbody id='tbody'>
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}


{% block script %}
{{ super() }}
<script>
  $(document).ready(function () {
    var tbody = document.getElementById("tbody");
    var resultCount = document.getElementById("resultCount");
    $('#applyTimeFilter').on('click', function () {
        var startDate = new Date($("#startDateTimeInput").val());
        var endDate = new Date($("#endDateTimeInput").val());

        var startTimestamp = startDate.getTime();
        var endTimestamp = endDate.getTime();
        showFilteredData(startTimestamp, endTimestamp);
    });
    $('#cancelTimeFilter').on('click', function () {
      findStartDateTime();
      findEndDateTime();
      showAllData();
    });


    async function findStartDateTime() {
      var docRef = await db.collection('vehicle').orderBy('datetime').limit(1)
      .get()
      .then(function(querySnapshot) {
        resultCount.innerHTML = querySnapshot.size;
        querySnapshot.forEach(function(doc) {
              data = doc.data();
              var date = new Date(data.datetime);
              var formatted_date = date.getFullYear() + "-" + ("0" + (date.getMonth() + 1)).slice(-2) + "-" + ("0" + date.getDate()).slice(-2) + "T" + ("0" + date.getHours()).slice(-2) + ":" + ("0" + date.getMinutes()).slice(-2) + ":" + ("0" + date.getSeconds()).slice(-2);

              $("#startDateTimeInput").val(formatted_date);
              console.log("Document data:", formatted_date);
          });
      })
      .then(
        function(){
          // console.log('All data showed');
        }
      );
    }
    async function findEndDateTime() {
      var docRef = await db.collection('vehicle').orderBy("datetime", "desc").limit(1)
      .get()
      .then(function(querySnapshot) {
        resultCount.innerHTML = querySnapshot.size;
        querySnapshot.forEach(function(doc) {
              data = doc.data();
              var date = new Date(data.datetime);
              var formatted_date = date.getFullYear() + "-" + ("0" + (date.getMonth() + 1)).slice(-2) + "-" + ("0" + date.getDate()).slice(-2) + "T" + ("0" + date.getHours()).slice(-2) + ":" + ("0" + date.getMinutes()).slice(-2) + ":" + ("0" + date.getSeconds()).slice(-2);

              $("#endDateTimeInput").val(formatted_date);
              console.log("Document data:", formatted_date);
          });
      })
      .then(
        function(){
          // console.log('All data showed');
        }
      );
    }
    async function showAllData() {
      tbody.innerHTML = '';
      var docRef = await db.collection('vehicle').orderBy('datetime')
      .get()
      .then(function(querySnapshot) {
        resultCount.innerHTML = querySnapshot.size;
        querySnapshot.forEach(function(doc) {
              data = doc.data();
              var tr = createRow(data);
              tbody.appendChild(tr);
          });
      })
      .then(
        function(){
          // console.log('All data showed');
        }
      );
    }
    async function showFilteredData(startTimestamp, endTimestamp) {
      tbody.innerHTML = '';
      var docRef = await db.collection('vehicle').orderBy('datetime').where("datetime", ">=", startTimestamp).where("datetime", "<=", endTimestamp)
      .get()
      .then(function(querySnapshot) {
        resultCount.innerHTML = querySnapshot.size;
        querySnapshot.forEach(function(doc) {
          data = doc.data();
          var tr = createRow(data);
          tbody.appendChild(tr);
        });
      })
      .then(
        function(){
          // console.log('Filtered data showed');
        }
      );
    }
    function createRow(data){
      var date = new Date(data.datetime);
      // console.log(doc.id, " => ", doc.data()['class']);
      var tr = document.createElement('tr');

      var td1 = document.createElement('td');
      td1.appendChild(document.createTextNode(date));
      tr.appendChild(td1);
      var td2 = document.createElement('td');
      td2.appendChild(document.createTextNode(data['id']));
      tr.appendChild(td2);
      var td3 = document.createElement('td');
      td3.appendChild(document.createTextNode(data['class']));
      tr.appendChild(td3);

      return tr;
    }

    findStartDateTime();
    findEndDateTime();
    showAllData();

  });
</script>
{% endblock %}