{% extends "base.html" %}

<head id="{}" />
{% block head %}
{{ super() }}
<title>Customer List</title>


<style>
  .customCursor {
    cursor: url(m.png) 12.5 45, pointer;
  }
</style>
{% endblock %}

{% block container %}

<div class="modal fade" id="ModalAddGroup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add a Camera Group</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>

          <div class="form-group">
            <label for="exampleFormControlInput1">Group Name*:</label>
            <input type="text" class="form-control" id="inputGroupName">
          </div>

          <div class="form-group">
            <label for="inputServer">Group Type:</label>
            <select class="form-control" id="inputGroupType">
              <option value="0">Live Camera</option>
              <option value="1">Demo Vedio</option>
            </select>
          </div>


        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" id="buttonGroupAdd">Add Group</button>
      </div>
      <p id="statusAdd" class="invisible"></p>
    </div>
  </div>
</div>

<div class="modal fade" id="ModalUpdateCamGroup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update Camera Group</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>

          <div class="form-group">
            <label for="updateGroupName">Group Name*:</label>
            <input type="text" class="form-control" id="updateGroupName">
          </div>
          <div class="form-group">
            <label for="inputServer">Group Type:</label>
            <select class="form-control" id="updateGroupType">
              <option value="0">Live Camera</option>
              <option value="1">Demo Vedio</option>
            </select>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" id="buttonCamGroupUpdate">Update Group</button>
      </div>
      <p id="statusUpdate" class="invisible"></p>
    </div>
  </div>
</div>

<div class="modal fade" id="ModalDeleteCamGroup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete Camera Group</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <p>Are you sure you want to delete this camera group?</p>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-danger" id="buttonDeleteCamGroup">Delete Group</button>
      </div>
      <p id="statusDelete" class="invisible"></p>
    </div>
  </div>
</div>

<div class="modal fade" id="ModalActivateCamGroup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Status Feature</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
        <form>
          <p>Are you sure you want to change this status Camera Group?</p>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-danger" id="buttonCamGroupActivate">Update</button>
      </div>
    </div>
  </div>
</div>

<div class="col-md-12">
  <a type="button" class="btn btn-primary" href="{{ url_for('admin') }}">Back</a>

  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalAddGroup"
    id="buttonModalAddCamera">Add New Camera Group</button>
  <br><br>
  <div class="table-responsive">
    <table id="bootstrapdatatable" class="table table-bordered" width="100%">

      <th>Group Name</th>
      <th>Group Type</th>
      <th>Edit</th>
      <th>Delete</th>
      <th>Action</th>
      <tbody>
      <tbody id="showContact">
      </tbody>

    </table>
  </div>
</div>


{% endblock %}



{% block script %}
{{ super() }}
<script>
  database_url = '{{ database_url_param }}';
  user_id = '{{ user_id }}';

</script>
<script src="{{ url_for('static', filename='/js/template/camera_group.js') }}"></script>
{% endblock %}