{% extends "base.html" %}

<head id="{}" />
{% block head %}
{{ super() }}
<title>Customer List</title>


<style>
  .customCursor {
    cursor: url(m.png) 12.5 45, pointer;
  }
</style>
{% endblock %}

{% block container %}

<div class="modal fade" id="ModalAddCrosswalk" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add a Crosswalk</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>

            <div class="form-group">
                <label for="inputCrosswalkServer">Crosswalk Server:</label>
                <select class="form-control" id="inputCrosswalkServer">
                </select>
            </div>

            <div class="form-group">
                <label for="inputCrosswalkName">Crosswalk Name:</label>
                <input type="text" class="form-control" id="inputCrosswalkName">
            </div>

        </form>
        <p id="status" class="invisible"></p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" id="buttonCrosswalkAdd">Add</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="ModalUpdateCrosswalk" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update Crosswalk</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>

            <div class="form-group">
                <label for="updateCrosswalkServer">Crosswalk Server:</label>
                <select class="form-control" id="updateCrosswalkServer">
                </select>
            </div>

            <div class="form-group">
                <label for="updateCrosswalkName">Crosswalk Name:</label>
                <input type="text" class="form-control" id="updateCrosswalkName">
            </div>
          
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" id="buttonCrosswalkUpdate">Update Crosswalk</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="ModalDeleteCrosswalk" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete Crosswalk</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <p>Are you sure you want to delete this Crosswalk?</p>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-danger" id="buttonDeleteCrosswalk">Delete Crosswalk</button>
      </div>
    </div>
  </div>
</div>

<div class="col-md-12">
  <a type="button" class="btn btn-primary" href="{{ url_for('admin') }}">Back</a>

  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalAddCrosswalk"
    id="buttonModalAddRoute">Add New Crosswalk</button>

    <br><br>
  <div class="table-responsive">
    <table id="bootstrapdatatable" class="table table-bordered" width="100%">

      <th>Crosswalk Server</th>
      <th>Crosswalk Name</th>
      <th>Edit</th>
      <th>Delete</th>

      <tbody>
      <tbody id="showContact">
      </tbody>

    </table>
  </div>
</div>


{% endblock %}



{% block script %}
{{ super() }}
<script>
  database_url = '{{ database_url_param }}';
  console.log("Here you go! " + database_url);
</script>
<script src="{{ url_for('static', filename='/js/template/crosswalk.js') }}"></script>

{% endblock %}