<div class="form-row">
    <div class="form-group col-md-6">
        <label for="startDateTimeInput" class="col-sm-6 col-form-label">Start Date Time</label>
        <input class="form-control" type="datetime-local" value="" id="startDateTimeInput">
    </div>
    <div class="form-group col-md-6">
        <label for="endDateTimeInput" class="col-sm-6 col-form-label">End Date Time</label>
        <input class="form-control" type="datetime-local" value="" id="endDateTimeInput">
    </div>
    <div class="form-group col-md-6">
        <button type="submit" class="btn btn-outline-success" id="applyTimeFilter">Apply</button>
        <button type="submit" class="btn btn-outline-danger" id="cancelTimeFilter">Cancel</button>
    </div>
</div>