{% extends "base.html" %}

<head id="{}" />
{% block head %}
{{ super() }}
<title>Customer List</title>


<style>
  .customCursor {
    cursor: url(m.png) 12.5 45, pointer;
  }
</style>
{% endblock %}

{% block container %}

<div class="modal fade" id="ModalAddRoute" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add a Lane</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>

            <div class="form-group">
                <label for="inputRouteServer">Lane Server:</label>
                <select class="form-control" id="inputRouteServer">
                </select>
            </div>

            <div class="form-group">
                <label for="inputRouteFrom">Lane From:</label>
                <input type="text" class="form-control" id="inputRouteFrom">
            </div>

            <div class="form-group">
                <label for="inputRouteTo">Lane To:</label>
                <input type="text" class="form-control" id="inputRouteTo">
            </div>

        </form>
        <p id="status" class="invisible"></p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" id="buttonRouteAdd">Add</button>
      </div>
      <p id="statusAdd" class="invisible"></p>
    </div>
  </div>
</div>

<div class="modal fade" id="ModalUpdateRoute" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update Lane</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>

            <div class="form-group">
                <label for="updateRouteServer">Lane Server:</label>
                <select class="form-control" id="updateRouteServer">
                </select>
            </div>

            <div class="form-group">
                <label for="updateRouteFrom">Lane From:</label>
                <input type="text" class="form-control" id="updateRouteFrom">
            </div>

            <div class="form-group">
                <label for="updateRouteTo">Lane To:</label>
                <input type="text" class="form-control" id="updateRouteTo">
            </div>
          
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" id="buttonRouteUpdate">Update Lane</button>
      </div>
      <p id="statusUpdate" class="invisible"></p>
    </div>
  </div>
</div>

<div class="modal fade" id="ModalDeleteRoute" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete Lane</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <p>Are you sure you want to delete this lane?</p>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-danger" id="buttonDeleteRoute">Delete</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="ModalActivateLane" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Status Lane</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
        <form>
          <p>Are you sure you want to change this status Lane?</p>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-danger" id="buttonLaneActivate">Update</button>
      </div>
    </div>
  </div>
</div>


<div class="col-md-12">
  <a type="button" class="btn btn-primary" href="{{ url_for('admin') }}">Back</a>

  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalAddRoute"
    id="buttonModalAddRoute">Add New Lane</button>

    <br><br>
  <div class="table-responsive">
    <table id="bootstrapdatatable" class="table table-bordered" width="100%">

      <th>Lane Server</th>
      <th>Lane From</th>
      <th>Lane To</th>
      <th>Edit</th>
      <th>Delete</th>
      <th>Status</th>

      <tbody>
      <tbody id="showContact">
      </tbody>

    </table>
  </div>
</div>


{% endblock %}



{% block script %}
{{ super() }}
<script>
  database_url = '{{ database_url_param }}';
  console.log("Here you go! " + database_url);
</script>
<script src="{{ url_for('static', filename='/js/template/lane.js') }}"></script>

{% endblock %}