{% extends "base.html" %}

<head id="{}" />
{% block head %}
{{ super() }}
<title>Set Counting Line</title>

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
  integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
  crossorigin="" />
<!-- Make sure you put this AFTER Leaflet's CSS -->
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
  integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
  crossorigin=""></script>

<style>
  .customCursor {
    cursor: url(m.png) 12.5 45, pointer;
  }
</style>
{% endblock %}

{% block container %}


<div>
  <form method="POST" class="post-form" action="/set_counting_boundary/{{id}}">


    <div class="row" style="padding:25px;">
      <div class="column">
        <img  src="data:image/jpeg;base64,{{ img_data }}"  id="img" style="width: 600px;" />
        <img class=" card-img-top" id="img" src="http://{{server_name}}/get_image_counting_byID/{{id}}" style="width: 600px;">
            </div>
            <div class=" column" style="padding-left:50px;">

        <div>

          <label for="landName">Lane Name:</label>

          <input type="text" class="form-control" id="landName" name="landName" value={{lane_name}}>

          <label for="landName">Polygon Point:</label>
                <input type="text" class="form-control" id="polygon" name="polygon" value={{start_point}}>

                <input type="text" class="form-control" id="server_name" name="server_name" value={{server_name}}>
          <!-- Vehicle radio -->
          <div class="form-check">

            {% if lane_type == "vehicle" %}
            <input class="form-check-input" type="radio" name="flexType" id="flexPedestrian" value="vehicle" checked />
            {% else %}
            {% if lane_type == "" %}
            <input class="form-check-input" type="radio" name="flexType" id="flexPedestrian" value="vehicle" checked />
            {% else %}
            <input class="form-check-input" type="radio" name="flexType" id="flexPedestrian" value="vehicle" checked />
            {% endif %}
            {% endif %}
            <label class="form-check-label" for="flexVehicle"> Vehicle Counting </label>
          </div>

          <!-- Pedestrian radio -->
          <div class="form-check">

            <input class="form-check-input" type="radio" name="flexType" id="flexPedestrian" value="pedestrian" />
            {% if lane_type == "pedestrian" %}
            <input class="form-check-input" type="radio" name="flexType" id="flexPedestrian" value="pedestrian"
              checked />
            {% endif %}
            <label class="form-check-label" for="flexPedestrian"> Pedestrian Counting </label>
          </div>

          <br>
          <input type="submit" class="btn btn-primary" name="add_button" value="Add">
          <input type="submit" class="btn btn-secondary" name="clear_button" value="Clear">

        </div>


        <br><br>
        <div class="table-responsive">
          <table id="bootstrapdatatable" class="table table-bordered" width="100%">

            <th>Lane Name</th>
            <th>Lane Type</th>
            <th>Polygon</th>
            <th>Delete</th>


            <tbody>
            <tbody id="showCounting">
            </tbody>

          </table>
        </div>

      </div>
    </div>




    <div class="modal fade" id="ModalDeleteLane" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Delete Lane</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <p>Are you sure you want to delete this Lane?</p>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-danger" id="buttonDeleteLane">Delete Feature</button>
          </div>
        </div>
      </div>
    </div>







    <input type="hidden" class="form-control" id="id" name="id" value="{{id}}">


  </form>
  <p id="img_coordinate"></p>

</div>


{% endblock %}



{% block script %}
{{ super() }}
<script>
  database_url = '{{ database_url_param }}';
  console.log("Here you go! " + database_url);
</script>
<script src="{{ url_for('static', filename='/js/template/set_counting.js') }}"></script>
{% endblock %}