{% extends "base.html" %}
<head id="{}"/>
{% block head %}
  {{ super() }}
  <title>Set Trespassing Boundary</title>

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
  integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
  crossorigin=""/>
  <!-- Make sure you put this AFTER Leaflet's CSS -->
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
  integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
  crossorigin=""></script>

  <style>
    .customCursor{
      cursor: url(m.png) 12.5 45, pointer;
    }
  </style>
{% endblock %}

{% block container %}
  <script type="text/javascript">
 
 $(document).ready(function() {
  $('img').click(function(e) {
            var offset_t = $(this).offset().top - $(window).scrollTop();
            var offset_l = $(this).offset().left - $(window).scrollLeft();
            w =   $(this).prop("width");        // Width  (Rendered)
            h =  $(this).prop("height");        // Height (Rendered)
            nw =    $(this).prop("naturalWidth") ;  // Width  (Natural)
            nh =  $(this).prop("naturalHeight") ; // Height (Natural)
            var left = Math.round( (e.clientX - offset_l) );
            var top = Math.round( (e.clientY - offset_t) );
            x = Math.round((left*nw)/w);
            y = Math.round((top*nh)/h);
          
            $('#img_coordinate').html("click x: "+x+" y: "+y);

            var database_url = 'http://172.21.12.132:9004/boundary/create';
            const data = {
                'camera_id': "1",
                'x_position': x,
                'y_position': y
            };
            fetch(database_url, {
                method: 'POST',
                headers: {
                'Content-Type': 'application/json',
                },
                body: JSON.stringify(data),
            })
                .then(response => response.json())
                .then(data => {
                console.log('Success:', data);
                })
                .catch((error) => {
                console.error('Error:', error);
                });
                
            $(form).submit();
          
         
        });

       

});


          
       
              
 
  </script>
        
        <form method="POST" class="post-form" action="/set_boundary/{{ip}}">
          <input src="data:image/jpeg;base64,{{ img_data }}" alt="Submit button"  id="img" type="image" />
          <!-- <input id="img" type="image" src="{{url_for('static', filename=img_name)}}" alt="Submit button"> -->
          <br>
          <input type="hidden" id="polygon_id" name="polygon_id" value="{{polygon_id}}">
          <input type="hidden" id="url" name="url" value="{{ip}}">
          {% if dis_polygon %}
          <input type="checkbox" id="dis_polygon" name="dis_polygon" value="checked" checked>
          {% else %}
          <input type="checkbox" id="dis_polygon" name="dis_polygon" value="checked">
          {% endif %}
          <label for="vehicle1">Display Polygon</label>
          <input type="submit" name="new_button" value="New">
          <input type="submit" name="update_button" value="Update">
          <input type="submit" name="submit_button" value="Clear">
        </form>
        <p id="img_coordinate"></p>



{% endblock %}



{% block script %}
{{ super() }}

{% endblock %}
