{% extends "base.html" %}

<head id="{}" />
{% block head %}
{{ super() }}
<title>Customer List</title>


<style>
  .customCursor {
    cursor: url(m.png) 12.5 45, pointer;
  }
</style>
{% endblock %}

{% block container %}


<div class="modal fade" id="ModalCreateUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create User</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form name="signup_form">
          <div class="form-group">
            <label for="exampleFormControlInput1">Name:</label>
            <input required type="text" class="form-control" id="name" autofocus="">
          </div>

          <div class="form-group">
            <label for="exampleFormControlInput1">Email:</label>
            <input required type="email" min="0" class="form-control" id="email" autofocus="">
          </div>

          <div class="form-group">
            <label for="exampleFormControlInput1">Password:</label>
            <input required type="password" minlength="5" class="form-control" id="password" autofocus="">
          </div>

          <div class="form-group">
            <label for="exampleFormControlSelect1">User Type</label>
            <select required class="form-control" id="userType" autofocus="">
              <option value="user" selected>User</option>
              <option value="admin">Admin</option>
            </select>
          </div>
        </form>

        <p id="status" class="invisible"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-danger" id="buttonCreateUser">Create User</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="ModalUpdateUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update User</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form name="signup_form">
          <div class="form-group">
            <label for="updateName">Name:</label>
            <input required type="text" class="form-control" id="updateName" autofocus="">
          </div>

          <div class="form-group">
            <label for="updateEmail">Email:</label>
            <input required type="email" min="0" class="form-control" id="updateEmail" autofocus="">
          </div>

          <div class="form-group">
            <label for="updatePassword">Password:</label>
            <input required type="password" minlength="5" class="form-control" id="updatePassword" autofocus="">
          </div>

          <div class="form-group">
            <label for="updateUserType">User Type</label>
            <select required class="form-control" id="updateUserType" autofocus="">
              <option value="user" selected>User</option>
              <option value="admin">Admin</option>
            </select>
          </div>
        </form>

        <p id="updstatus" class="invisible"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-danger" id="buttonUpdateUser">Update User</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="ModalDeleteUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete User</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <p>Are you sure you want to delete this user?</p>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-danger" id="buttonDeleteUser">Delete User</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="ModalActivateUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Status User</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
        <form>
          <p>Are you sure you want to change this status User?</p>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-danger" id="buttonUserActivate">Update</button>
      </div>
    </div>
  </div>
</div>

<div class="col-md-12">
  <a type="button" class="btn btn-primary" href="{{ url_for('admin') }}">Back</a>

  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalCreateUser"
    id="buttonModalAddUser">Add New Record</button>
  <br><br>
  <div class="table-responsive">
    <table id="bootstrapdatatable" class="table table-bordered" width="100%">

      <th>User Name</th>
      <th>User Email</th>
      <th>User Type</th>
      <th>Edit</th>
      <th>Delete</th>
      <th>Status</th>

      <tbody>
      <tbody id="showContact">
      </tbody>

    </table>
  </div>
</div>


{% endblock %}



{% block script %}
{{ super() }}
<script>
  database_url = '{{ database_url_param }}';
  console.log("Here you go! " + database_url);
</script>
<script src="{{ url_for('static', filename='/js/template/user.js') }}"></script>

{% endblock %}