{% extends "base.html" %}

{% block head %}
  {{ super() }}
  <title>Charts</title>
{% endblock %}

{% block container %}
<div class="container-fluid">

  {% include 'filtertime.html' %}

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          Vehicle Count: <span id='resultCount'></span>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-6">
      <!-- <h4>Traffic Count</h4> -->
      <div class="chart-container">
        <canvas id="myChart1"></canvas>
      </div>
    </div>
    <div class="col-md-6">
      <!-- <h4>Cumulative Traffic Count</h4> -->
      <div class="chart-container">
        <canvas id="myChart2"></canvas>
      </div>
    </div>
  </div>
  <div class="line"></div>
  <div class="row mt-5">
    <div class="col-md-6">
      <!-- <h4>Traffic Count</h4> -->
      <div class="chart-container">
        <canvas id="myChart3"></canvas>
      </div>
    </div>
    <div class="col-md-6">
      <!-- <h4>Cumulative Traffic Count</h4> -->
      <div class="chart-container">
        <canvas id="myChart4"></canvas>
      </div>
    </div>
  </div>            
</div>
{% endblock %}

{% block script %}
{{ super() }}
<!-- chart helper function -->
<script>
  function listOfColors(len){
    listOfColorsArray = [];
    for (var i = 0; i < len; i++) {
      listOfColorsArray[i] = randomColor();
    }
    // console.log(listOfColorsArray);
    return listOfColorsArray;
  }
  function randomColor(){
        color='rgb('+Math.round(Math.random()*255)+','+Math.round(Math.random()*255)+','+Math.round(Math.random()*255)+')';
        return color;
  }
  function updateBarChart(chart, countData) {
    chart.data.datasets.forEach(function(dataset){
      dataset.data = countData;
    })
    chart.update();
  }
</script>
<!-- real time update using socket io -->
<script>
  $(document).ready(function () {

    var ctx1 = document.getElementById('myChart1').getContext('2d');
    var chart1 = new Chart(ctx1, {
        // The type of chart we want to create
        type: 'bar',

        // The data for our dataset
        data: {
            labels: ['person','bicycle','car','motorbike','bus','truck'],
            datasets: [{
                label: ['count'],
                fill: false,
                backgroundColor: [
                  randomColor(),
                  randomColor(),
                  randomColor(),
                  randomColor(),
                  randomColor(),
                  randomColor()
                ],
                // borderColor: 'rgb(255, 99, 132)',
                data:  []
            }]
        },
        // Configuration options go here
        options: {
          responsive: true,
          legend: { display: false },
          title: {
            display: true,
            text: 'Traffic Count (Bar chart)'
          },
          scales: {
            yAxes: [{
              ticks: {
                  beginAtZero:true
              }
            }]
          }
          // maintainAspectRatio: false
        }
    });

    var ctx2 = document.getElementById('myChart2').getContext('2d');
    var chart2 = new Chart(ctx2, {
        // The type of chart we want to create
        type: 'doughnut',

        // The data for our dataset
        data: {
            labels: ['person','bicycle','car','motorbike','bus','truck'],
            datasets: [{
                label: ['count'],
                fill: false,
                backgroundColor: [
                  randomColor(),
                  randomColor(),
                  randomColor(),
                  randomColor(),
                  randomColor(),
                  randomColor()
                ],
                // borderColor: 'rgb(255, 99, 132)',
                data:  []
            }]
        },
        // Configuration options go here
        options: {
          responsive: true,
          legend: { display: true },
          title: {
            display: true,
            text: 'Traffic Count (Pie Chart)'
          },
          scales: {
            yAxes: [{
              ticks: {
                  beginAtZero:true
              }
            }]
          }
          // maintainAspectRatio: false
        }
    });

    var ctx3 = document.getElementById('myChart3').getContext('2d');
    var chart3 = new Chart(ctx3, {
        // The type of chart we want to create
        type: 'radar',

        // The data for our dataset
        data: {
            labels: ['person','bicycle','car','motorbike','bus','truck'],
            datasets: [{
                label: 'count',
                fill: true,
                backgroundColor: [
                  randomColor(),
                  randomColor(),
                  randomColor(),
                  randomColor(),
                  randomColor(),
                  randomColor()
                ],
                // borderColor: 'rgb(255, 99, 132)',
                data:  []
            }]
        },
        // Configuration options go here
        options: {
          responsive: true,
          legend: { display: false },
          title: {
            display: true,
            text: 'Traffic Count (Radar Chart)'
          },
          tooltips: {
            enabled: true,
            callbacks: {
              label: function(tooltipItem, data) {
                return data.datasets[tooltipItem.datasetIndex].label + ' : ' + data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index];
              }
            }
          },
          scales: {
            yAxes: [{
              ticks: {
                  beginAtZero:true
              }
            }]
          }
          // maintainAspectRatio: false
        }
    });


    var resultCount = document.getElementById("resultCount");

    $('#applyTimeFilter').on('click', function () {
        var startDate = new Date($("#startDateTimeInput").val());
        var endDate = new Date($("#endDateTimeInput").val());
        
        var startTimestamp = startDate.getTime();
        var endTimestamp = endDate.getTime();
        showFilteredData(startTimestamp, endTimestamp);
    });
    $('#cancelTimeFilter').on('click', function () {
      findStartDateTime();
      findEndDateTime();
      showAllData();
    });

    async function findStartDateTime() {
      var docRef = await db.collection('vehicle').orderBy('datetime').limit(1)
      .get()
      .then(function(querySnapshot) {
        resultCount.innerHTML = querySnapshot.size;
        querySnapshot.forEach(function(doc) {
              data = doc.data();
              var date = new Date(data.datetime);
              var formatted_date = date.getFullYear() + "-" + ("0" + (date.getMonth() + 1)).slice(-2) + "-" + ("0" + date.getDate()).slice(-2) + "T" + ("0" + date.getHours()).slice(-2) + ":" + ("0" + date.getMinutes()).slice(-2) + ":" + ("0" + date.getSeconds()).slice(-2);

              $("#startDateTimeInput").val(formatted_date);
              console.log("Document data:", formatted_date);
          });
      })
      .then(
        function(){
          // console.log('All data showed');
        }
      );
    }
    async function findEndDateTime() {
      var docRef = await db.collection('vehicle').orderBy("datetime", "desc").limit(1)
      .get()
      .then(function(querySnapshot) {
        resultCount.innerHTML = querySnapshot.size;
        querySnapshot.forEach(function(doc) {
              data = doc.data();
              var date = new Date(data.datetime);
              var formatted_date = date.getFullYear() + "-" + ("0" + (date.getMonth() + 1)).slice(-2) + "-" + ("0" + date.getDate()).slice(-2) + "T" + ("0" + date.getHours()).slice(-2) + ":" + ("0" + date.getMinutes()).slice(-2) + ":" + ("0" + date.getSeconds()).slice(-2);

              $("#endDateTimeInput").val(formatted_date);
              console.log("Document data:", formatted_date);
          });
      })
      .then(
        function(){
          // console.log('All data showed');
        }
      );
    }
    async function showAllData() {
      var count = [0,0,0,0,0,0];
      var docRef = await db.collection('vehicle').orderBy('datetime')
      .get()
      .then(function(querySnapshot) {
        resultCount.innerHTML = querySnapshot.size;
        querySnapshot.forEach(function(doc) {
          data = doc.data();
          if(data['class']=='person'){
            count[0]++;
          }
          else if(data['class']=='bicycle'){
            count[1]++;
          }
          else if(data['class']=='car'){
            count[2]++;
          }
          else if(data['class']=='motorbike'){
            count[3]++;
          }
          else if(data['class']=='bus'){
            count[4]++;
          }
          else{
            count[5]++;
          }
        });
      })
      .then(
        function(){
          updateBarChart(chart1,count);
          updateBarChart(chart2,count);
          updateBarChart(chart3,count);
          // console.log('All data showed');
        }
      );
    }
    async function showFilteredData(startTimestamp, endTimestamp) {
      var count = [0,0,0,0,0,0];
      var docRef = await db.collection('vehicle').orderBy('datetime').where("datetime", ">=", startTimestamp).where("datetime", "<=", endTimestamp)
      .get()
      .then(function(querySnapshot) {
        resultCount.innerHTML = querySnapshot.size;
        querySnapshot.forEach(function(doc) {
          data = doc.data();
          if(data['class']=='person'){
            count[0]++;
          }
          else if(data['class']=='bicycle'){
            count[1]++;
          }
          else if(data['class']=='car'){
            count[2]++;
          }
          else if(data['class']=='motorbike'){
            count[3]++;
          }
          else if(data['class']=='bus'){
            count[4]++;
          }
          else { // if(data['class']=='truck')
            count[5]++;
          }
        });
      })
      .then(
        function(){
          updateBarChart(chart1,count);
          updateBarChart(chart2,count);
          updateBarChart(chart3,count);
        }
      );
    }

    findStartDateTime();
    findEndDateTime();
    showAllData();
  });
</script>
{% endblock %}
