{% extends "base.html" %}

<head id="{}" />
{% block head %}
{{ super() }}
<title>Camera Dashboard</title>

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
  integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
  crossorigin="" />
<!-- Make sure you put this AFTER Leaflet's CSS -->
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
  integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
  crossorigin=""></script>

<style>
  .customCursor {
    cursor: url(m.png) 12.5 45, pointer;
  }
</style>
{% endblock %}

{% block container %}

<div class="modal fade bd-example-modal-lg" id="ModalAddCamera" tabindex="-1" role="dialog"
  aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add a Demo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="exampleFormControlInput1">Demo Name*:</label>
              <input type="text" class="form-control" id="inputCameraName">
            </div>
            <div class="form-group col-md-8">
              <label for="inputCameraURL">Demo File*:</label>
              <select class="form-control" id="inputCameraURL">
              </select>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputCameraServer">Demo Server*:</label>
              <select class="form-control" id="inputCameraServer">
              </select>
            </div>
            <div class="form-group col-md-6">
              <label for="inputCameraGroup">Demo Group*:</label>
              <select class="form-control" id="inputCameraGroup">
              </select>
            </div>
            <button type="button" class="btn btn-primary" id="saveInfo">Save</button>
            <br/>
          </div>

          
          <div id="features" class="disabled form-row">
            <table class="table">
              <thead>
                <tr>
                  <th>Feature</th>
                  <th>Option</th>
                  <th>Setting</th>
                </tr>
              </thead>
              <tbody id="inputFeature">
              </tbody>
            </table>
          </div>
        </form>
        <!-- <div id="mapid" style="height: 400px; width: 750px;"> -->
        <!-- </div> -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" id="buttonCameraAdd">Add Demo</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade bd-example-modal-lg" id="ModalUpdateCamera" tabindex="-1" role="dialog"
  aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update Demo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-row">
            <input type="hidden" class="form-control" id="updateCameraID">
            <div class="form-group col-md-4">
              <label for="updateCameraName">Demo Name:</label>
              <input type="text" class="form-control" id="updateCameraName">
            </div>
            <div class="form-group col-md-8">
              <label for="updateCameraURL">Demo URL*:</label>
              <select class="form-control" id="updateCameraURL">
              </select>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="updateCameraServer">Demo Server:</label>
              <select class="form-control" id="updateCameraServer">
              </select>
            </div>
            <div class="form-group col-md-6">
              <label for="updateCameraGroup">Demo Group:</label>
              <select class="form-control" id="updateCameraGroup">
              </select>
            </div>
            <button type="button" class="btn btn-primary" id="saveNewInfo">Save</button>
          </div>

          <!-- List of features -->
          <div id="updateFeatures" class="disabled form-row">
            <table class="table">
              <thead>
                <tr>
                  <th>Feature</th>
                  <th>Option</th>
                  <th>Setting</th>
                </tr>
              </thead>
              <tbody id="updateFeature">
              </tbody>
            </table>
          </div>
        </form>
        <!-- <div id="updateMapId" style="height: 400px; width: 750px;"> -->
        <!-- </div> -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" id="buttonCameraUpdate">Update Demo</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="ModalDeleteCamera" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete Demo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <p>Are you sure you want to delete this Demo?</p>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-danger" id="buttonDeleteCamera">Delete Demo</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="ModalSetTrespassing" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Boundary pre-setting</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <p id="boundary"></p>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        <button type="submit" class="btn btn-danger" id="buttonSetTrespassing">Yes</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="ModalSetJaywalking" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Boundary pre-setting</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <p id="boundary"></p>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        <button type="submit" class="btn btn-danger" id="buttonSetJaywalking">Yes</button>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid">

  {% if session['user']['userType'] == 'admin' %}
  <div class="row">
    <div class="sigButton">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalAddCamera"
        id="buttonModalAddCamera">Add Demo</button><br>
    </div>
  </div>
  {% endif %}

  <div class="row">
    <div class="col-8" id="containerRow"></div>
    <div class="col-4" id="accordian">
      <div class="accordion" id="groupList">
      </div>
    </div>
  </div>

</div>
{% endblock %}



{% block script %}
{{ super() }}
<script>
  database_url = '{{ database_url_param }}';
  console.log("Here you go! " + database_url);
</script>

<script src="{{ url_for('static', filename='/js/template/demo.js') }}"></script>
<!-- <script src="{{ url_for('static', filename='/js/template/index_map.js') }}"></script> -->
{% endblock %}