<nav class="navbar navbar-expand-md navbar-light bg-light">
    <button type="button" id="sidebarCollapse" class="btn">
        <i class="fas fa-align-left"></i>
        <span></span>
    </button>

    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
        
        <!-- <div class="navbar-nav">
            <div class="nav-item dropdown active">
                {% if session['user']['userType'] == 'admin' %}
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Admin Panel</a>
                <div class="dropdown-menu">
                    <a type="button" class="dropdown-item" data-toggle="modal" data-target="#ModalAddServer">Add Server</a>
                    <div class="dropdown-divider"></div>
                    <a type="button" class="dropdown-item" data-toggle="modal" data-target="#ModalAddFeature">Add Feature</a>
                    <div class="dropdown-divider"></div>
                    <a type="button" class="dropdown-item" data-toggle="modal" data-target="#ModalAddGroup">Add Group</a>
                    <div class="dropdown-divider"></div>
                    <a type="button" class="dropdown-item" data-toggle="modal" data-target="#ModalDeleteAllGroup">Delete All Groups</a>
                    <div class="dropdown-divider"></div>
                    <a type="button" class="dropdown-item" data-toggle="modal" data-target="#ModalDeleteAllCamera">Delete All Cameras</a>
                    <div class="dropdown-divider"></div>
                    <a type="button" class="dropdown-item" data-toggle="modal" data-target="#ModalDeleteAllVideo">Delete All Videos</a>
                    <div class="dropdown-divider"></div>
                    <a type="button" class="dropdown-item" data-toggle="modal" data-target="#ModalCreateUser">Create A User</a>
                    <div class="dropdown-divider"></div>
                    <a type="button" class="dropdown-item" data-toggle="modal" data-target="#ModalUploadVideo">Upload Demo Video</a>
                    <div class="dropdown-divider"></div>
                </div>
                {% endif %}
            </div>
        </div> -->

        <div class="navbar-nav">
            <div class="nav-item dropdown active">
                <a href="#" class="nav-item nav-link active" data-toggle="dropdown">
                    {% if session['logged_in'] == True %}
                    {{ session['user'][0][4]}}
                    {% endif %}
                </a>
                <div class="userControl dropdown-menu dropdown-menu-right">
                    <a href="{{ url_for('login') }}" class="dropdown-item">Logout</a>
                </div>
            </div>
        </div>
    </div>
</nav>