<nav id="sidebar">
    <div class="sidebar-header">
        <a href="/"><h3>Vision Plus Plus</h3></a>
        Updated: 2021-10-26 06:46
    </div>

    <ul class="list-unstyled components">
        {% if session['user'][0][2]  == 'admin' %}
            <li>
                <a href="{{ url_for('admin') }}" target="_self" rel="noopener noreferrer">Admin Dashboard</a>
            </li>
        {% endif %}
        <li>
            <a href="{{ url_for('index') }}" target="_self" rel="noopener noreferrer">Camera Dashboard</a>
        </li>
        <li>
            <a href="{{ url_for('demo') }}" target="_self" rel="noopener noreferrer">Demo Dashboard</a>
        </li>
        
        <li>
            <a href="{{ url_for('report') }}" target="_self" rel="noopener noreferrer">Reports</a>
        </li>
        <li>
            <a href="{{ url_for('event') }}" target="_self" rel="noopener noreferrer">Events</a>
        </li>
        


       
    </ul>
</nav>