{% extends "base.html" %}
<head id="{}"/>
{% block head %}
  {{ super() }}
  <title>Streaming</title>

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
  integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
  crossorigin=""/>
  <!-- Make sure you put this AFTER Leaflet's CSS -->
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
  integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
  crossorigin=""></script>

  <style>
    .customCursor{
      cursor: url(m.png) 12.5 45, pointer;
    }
  </style>
{% endblock %}

{% block container %}
 
        

<div class="container">
  <div class="row">
    <div class="col">

      <h1>Upload a Video</h1>
      <hr>

      <form action="/fire_detection" method="POST" enctype="multipart/form-data">

        <div class="form-group">
          <!-- <label>Select Video</label> -->
          <div class="custom-file">
            <input type="file" class="custom-file-input" name="video" id="video">
            <label class="custom-file-label" for="video">Select Video...</label>
          </div>
        </div>

        <button type="submit" name="upload" class="btn btn-primary">Upload</button>
        <button type="submit" name="stop" class="btn btn-primary">Stop</button>

      </form>

    </div>
  </div>
</div>

<div class="container">
  {% if bool_upload == "sucess" %}
    <br >
    <img src="{{ url_for('video_feed',file_name = file_name) }}">
  
  
  {% endif %}
    
    
</div>


{% endblock %}



{% block script %}
{{ super() }}

{% endblock %}
