{% block head %}
{% include 'head.html' %}
{% endblock %}

{% block content %}

<link rel="stylesheet" type="text/css" href="/css/authentication.css">

<div class="wrapper fadeInDown">
    <div id="formContent">
        <br>
        <h3 class="title">Log In</h3>
        <!-- Tabs Titles -->

        <!-- Login Form -->
        <form name="login_form">
            <input class="fadeIn second" type="email" name="email" placeholder="email" autofocus="">
            <input class="fadeIn third" type="password" name="password" placeholder="password" autofocus="">
            <input type="submit" class="fadeIn fourth" value="log in">
        </form>

        <p id="status" class="invisible"></p>

        <!-- Remind Passowrd -->
        <div id="formFooter">
            <a class="underlineHover" href="#">Forgot Password?</a>
            <br />
        </div>
        
    </div>
</div>

<script>
    $("form[name=login_form]").submit(function (e) {
        var $form = $(this);
        var $status = $("#status");
        var data = $form.serialize();

        $.ajax({
            url: "http://172.21.12.110:6700/user/login",
            type: "POST",
            data: data,
            dataType: "json",
            success: function (resp) {
                window.location.href = "/"
            },
            error: function (resp) {
                $status.css({ "color": "red" });
                $status.text(resp.responseText).removeClass("invisible");

                console.log("Erorrrrrrrrrrrrrr");
            }
        })

        e.preventDefault()
    });

</script>
{% endblock %}