{% extends "base.html" %}

<head id="{}" />
{% block head %}
{{ super() }}
<title>Server List</title>


<style>
  .customCursor {
    cursor: url(m.png) 12.5 45, pointer;
  }
</style>
{% endblock %}

{% block container %}

<div class="modal fade" id="ModalAddServer" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add a Server</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>

          <div class="form-group">
            <label for="inputServerName">Server Name*:</label>
            <input type="text" class="form-control" id="inputServerName">
          </div>

          <div class="form-group">
            <label for="inputServerIP">Server IP*:</label>
            <input type="text" class="form-control" id="inputServerIP">
          </div>

          <div class="form-group">
            <label for="inputServerPort">Server Port*:</label>
            <input type="number" min="0" class="form-control" id="inputServerPort">
          </div>

          <div class="form-group">
            <label for="inputServerType">Server Type*:</label>
            <select class="form-control" id="inputServerType">
              <!-- <option>Application User Interface</option>
              <option>IP Camera</option>
              <option>Demo Video</option>
              <option>Database</option> -->
            </select>
          </div>

          <p id="serverinfo"> </p>


        </form>
        <p id="status" class="invisible"></p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" id="buttonServerAdd">Add</button>
      </div>
      <p id="statusAdd" class="invisible"></p>
    </div>
  </div>
</div>

<div class="modal fade" id="ModalUpdateServer" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update Server</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>

          <div class="form-group">
            <label for="updateServerName">Server Name*:</label>
            <input type="text" class="form-control" id="updateServerName">
          </div>

          <div class="form-group">
            <label for="updateServerIP">Server IP*:</label>
            <input type="text" class="form-control" id="updateServerIP">
          </div>

          <div class="form-group">
            <label for="updateServerPort">Server Port*:</label>
            <input type="number" min="0" class="form-control" id="updateServerPort">
          </div>

         

          <div class="form-group">
            <label for="updateServerType">Server Type*:</label>
            <select class="form-control" id="updateServerType">
              <option>Application User Interface</option>
              <option>IP Camera</option>
              <option>Demo Video</option>
              <option>Database</option>
            </select>
          </div>
          <input type="hidden" class="form-control" id="updateServerActivate">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" id="buttonServerUpdate">Update Server</button>
      </div>
      <p id="statusUpdate" class="invisible"></p>
    </div>
  </div>
</div>

<div class="modal fade" id="ModalDeleteServer" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete Server</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <p>Are you sure you want to delete this server?</p>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-danger" id="buttonDeleteServer">Delete Server</button>
      </div>
      
    </div>
  </div>
</div>

<div class="modal fade" id="ModalActivateServer" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Status Server</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>

      <div class="modal-body">
        <form>
          <p>Are you sure you want to change this status server?</p>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-danger" id="buttonServerActivate">Update</button>
      </div>
    </div>
  </div>
</div>
<div class="col-md-12">
  <a type="button" class="btn btn-primary" href="{{ url_for('admin') }}">Back</a>

  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalAddServer"
    id="buttonModalAddServer">Add New Server</button>

    <br><br>
  <div class="table-responsive">
    <table id="bootstrapdatatable" class="table table-bordered" width="100%">

      <th>Server Name</th>
      <th>Server Type Name</th>
      <th>Server IP</th>
      <th>Server Port</th>
      <th>Server Used</th>
      <th>Edit</th>
      <th>Delete</th>
      <th>Action</th>

      <tbody>
      <tbody id="showContact">
      </tbody>

    </table>
  </div>
</div>


{% endblock %}



{% block script %}
{{ super() }}
<script>
  database_url = '{{ database_url_param }}';
  user_id = '{{ user_id }}';
</script>
<script src="{{ url_for('static', filename='/js/template/server.js') }}"></script>

{% endblock %}