{% extends "base.html" %}

<head id="{}" />
{% block head %}
{{ super() }}
<title>Customer List</title>


<style>
  .customCursor {
    cursor: url(m.png) 12.5 45, pointer;
  }
</style>
{% endblock %}

{% block container %}

<div class="col-md-12">
    <a type="button" class="btn btn-primary" href="{{ url_for('admin') }}">Back</a>
  
  
      <br><br>
    <div class="table-responsive">
      <table id="bootstrapdatatable" class="table table-bordered" width="100%">
  
        <th>Timestamp</th>
        <th>ID</th>
        <th>Server</th>
        <th>From</th>
        <th>To</th>
        <th>Class</th>
  
        <tbody>
        <tbody id="showContact">
        </tbody>
  
      </table>
    </div>
  </div>

{% endblock %}



{% block script %}
{{ super() }}
<script>
  database_url = '{{ database_url_param }}';
  console.log("Here you go! " + database_url);
</script>
<script src="{{ url_for('static', filename='/js/template/vehicle.js') }}"></script>

{% endblock %}